In [ ]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

# Part 1

In [ ]:
df = pd.read_csv('YOUR_PATH/final_results_crab_cakes.csv.gz')
df.head()

In [ ]:
df.info()

In [ ]:
# Exploring existing format with a few examples
df['display_phone'].head(2)

In [ ]:
## adding expand=True
df['display_phone'].str.split(' ',expand=True)

In [ ]:
## save the 2 new columns into the dataframe
df[['area_code','phone_number']] = df['display_phone'].str.split(' ',expand=True)
df.head(2)

In [ ]:
## drop the original column 
df = df.drop(columns=['display_phone', 'phone'])
df.head(2)

In [ ]:
# Make a list of all characters to replace
to_replace = ['(',')']
# run a loop to replace all of the characters in the list at once
for char in to_replace:
    df['area_code'] = df['area_code'].str.replace(char,'',regex=False)
    
df['area_code'].head()

In [ ]:
## examining a single value from the coordinates col
coord = df.loc[0,"coordinates"]
print(type(coord))
coord

In [ ]:
import json
json.loads(coord)

In [ ]:
#Hmmm, we hit an error. According to the error message, it looks like json.loads 
# is not happy that these string-dictionaries use single quotes instead of double quotes.
#If we look again at our test_coord we can see that the string uses single quotes for all of the key names such as 'latitude'

In [ ]:
coord

In [ ]:
coord = coord.replace("'",'"')
coord

In [ ]:
## now we can use json.loads
fixed_coord = json.loads(coord)
print(type(fixed_coord))
fixed_coord

In [ ]:
## use .str.replace to replace all single quotes
df['coordinates'] = df['coordinates'].str.replace("'",'"')
## Apply the json.loads to the full column
df['coordinates'] = df['coordinates'].apply(json.loads)
df['coordinates'].head()

In [ ]:
## check a single value after transformation
test_coord = df.loc[0, 'coordinates']
print(type(test_coord))
test_coord

In [ ]:
lat_long = df['coordinates'].apply(pd.Series)
lat_long

In [ ]:
# concat long_lat with original dataframe
df = pd.concat((df, lat_long), axis = 1)
df.head(2)

In [ ]:
df = df.drop(columns=['coordinates'])

In [ ]:
## showing the lists are really strings
df.loc[2,'transactions']

In [ ]:
# Create a new column where the single quotes are replaced by double quotes
df['transactions_split'] = df['transactions'].str.replace("'",'"')

In [ ]:
# Apply json.loads to entire column
df['transactions_split'] = df['transactions_split'].apply(json.loads)
# check results
df['transactions_split'].head()

In [ ]:
df['transactions_split'].value_counts()

In [ ]:
## exploding the column of lists
exploded = df.explode('transactions_split')
exploded[['name','transactions','transactions_split']].head(5)

In [ ]:
## saving the unique values from the exploded column
cols_to_make = exploded['transactions_split'].dropna().unique()
cols_to_make

In [ ]:
for col in cols_to_make:
    df[col] = df['transactions'].str.contains(col)
df.head()

# part 2

In [ ]:
# https://login.codingdojo.com/m/376/12529/88088

In [ ]:
## get the unique ids
unique_ids = sorted(df['id'].unique())
unique_ids[:3]

In [ ]:
## make integers for each id
int_ids = range(len(unique_ids))
int_ids